<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--写到层对应的位置-->
<mapper namespace="com.sec.Mapper.userdao">
    <resultMap id="userMap" type="user">
        <id column="user_id"  property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_age" property="user_age"/>
        <!--配置集合信息
            property:集合名称 ofType:当前数据类型
        -->
        <collection property="orders" ofType="order">
            <id column="order_id" property="order_id"/>
            <result column="order_time" property="order_time"/>
            <result column="total" property="total"/>
        </collection>
    </resultMap>
    <!--一对多-->
<select id="findAll" resultMap="userMap">
    select * from userinfo u,orderinfo o where u.user_id=o.user_id
</select>



    <resultMap id="userRoleMap" type="user">
        <id column="user_id"  property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_age" property="user_age"/>
        <!--配置内部role的信息-->
        <collection property="roles"  ofType="role">
            <id column="role_id" property="role_id"></id>
            <result column="role_name" property="role_name"/>
        </collection>
    </resultMap>
    <!--多对待-->
    <select id="findRoleAll" resultMap="userRoleMap">
   select * from userinfo u inner join sysuserrole s inner join role r on u.user_id=s.user_id and s.role_id=r.role_id
   <where>
       <if  test="user_id!=null and user_id!=''">
           u.user_id=#{user_id}
       </if>
   </where>
    </select>
</mapper>